.projects-container{
    height: auto;
    background-color: white;
    padding: 2rem 0;
    margin: 1.5rem 3em;
    border: none;
    border-radius: 20px;
  
    h2{
    color: black;
    padding: 0 1.5em 0.5em 1.5em;
    font-size: clamp(1rem, 5vw, 5em);
    position: relative; 
    display: inline-block;
    }

    
    h2::after {
    content: "";
    position: absolute;
    bottom: 10%;   
    left: 2%;  
    width: 220%; 
    height: 3px; 
    
    background-color: #000000;
    border-radius: 10px;    
    }

}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .project-card{
        display: flex;
        gap: 0.5rem;
        border: 2px solid gray;
        border-radius: 20px;
        margin: 0 1rem;
        

        img{
            width: 50%;
            border: 2px solid black;
            border-radius: 20px;
            margin: 1rem;
        }

        .info{
            margin: 1rem;
            align-content: center;

            h3{
                font-size: 3rem;
            }

            a{
                text-decoration: none;
                color: black;
                
            }

            p{
                font-size: 1.5rem;
            }
        }
    }
}


