@font-face {
    font-family: Funnel-Sans;
    src: url(/fonts/FunnelSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;  
}

h2 {
  font-family: Funnel-Sans;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Pushes it behind the content */
  background-color: #000000;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 1; 
  width: 100%;
  min-height: 100vh;
}

.background-wrapper canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}