/*Imported Fonts*/
@font-face {
    font-family: cartoon;
    src: url(/fonts/Ribeye_Marrow/RibeyeMarrow-Regular.ttf);
}
@font-face {
    font-family: posh;
    src: url(/fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf);
}
@font-face {
    font-family: Funnel-Sans;
    src: url(/fonts/FunnelSans-VariableFont_wght.ttf);
}

.banner {
  min-height: 100vh; 
  width:  100vw;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.banner h1{
  color: white;
}

.full-stack{
  font-size: clamp(2rem, 10vw, 10rem); 
  font-family: Funnel-Sans;
}

.web-developer {
  font-size: clamp(2rem, 10vw, 10rem);
  font-family: Funnel-Sans;
}